@import "tailwindcss";

@layer base {
  body {
    @apply antialiased bg-white text-stone-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-stone-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-stone-300;
}
